html {
    font-family: "Montserrat", sans-serif;
    background: snow;
    background-color: #1f242d;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/* pop up alert */
.popup {
    background-color: white;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    display: none;
    z-index: 2;
}
.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 26px;
    border-radius: none;
    outline: none;
    cursor: pointer;
}
.popup p {
    font-size: 16px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
#popup-a {
    display: block;
    width: 80px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #224560;
    color: snow;
    text-decoration: none;
    padding: 10px 0;
}

/* navbar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navlinks li, .navlinks a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5% 5% 30px 8%;
    background: none;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navlinks {
    list-style: none;
    width: 100%;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a {
    transition: all 0.2s ease 0s;
}
.navlinks li a:hover {
    color: #87CEEB;
    padding-bottom: 10px;
    border-bottom: 4px solid white;
}
.navbar-scrolled {
    background-color: aliceblue;
    opacity: 95%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}


/* put nav bar with the background image in the first section */
#active {
    color: rgb(188, 188, 255);
}
.wrapper {
    background-image: url("images/mountain.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

/* section animate */
.intro2 h1 {
    font-size: 68px;
    color: white;
}
.intro2 p {
    font-size: 26px;
    color: #f0f0f0;
    font-weight: 600;
    margin-bottom: 100px;
}
/* load in text color */
.input {
    background: linear-gradient(to right, #b8e8f9, #a2d6f9, #94cef5 , lavender);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.intro2 {
    display: flex;
    width: 100%;
    min-height: 88vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.intro2 img {
    position: absolute;
    margin: auto;
    bottom: 0;
}
#bottom {
    width: 100%;
}

/* before animate */
.intro2 .animate {
    transform: translateX(-100%);
    transition: 1s;
    filter: blur(3px);
    opacity: 0;
    z-index: 1;
}
.intro2 .fadeIn {
    transform: translateX(-500%);
    transition: 1s;
    filter: blur(3px);
    opacity: 0;
}

/* after animate */
.intro2.show-animate .animate {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}
.intro2.show-animate .fadeIn {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
    transition-delay: 0.5s;
    transition-duration: 1s;
}


/* profile card */
.container {
    width: 100%;
    min-height: 100%;
}
#profile {
    width: 330px;
    height: 515px;
    margin: 165px 5px 0px 235px;
    float: left;
}
.profileInfo {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
#profile:hover .profileInfo{
    transform: rotateY(180deg);
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
}
.front {
    background: url("images/me.jpeg");
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
.front h2 {
    font-weight: 500;
    text-transform: uppercase;
}
.front p {
    font-size: 13px;
    color: white;
}
.front button {
    width: 120px;
    border: 1px solid white;
    background: none;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
}
.back {
    background-image: url("images/sea.jpeg");
    background-size: cover;
    color: black;
    padding: 20px 40px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.back h2 {
    font-size: 50px;
    line-height: 55px;
    margin-top: 50px;
    margin-bottom: 35px;
    color: #0a2351;
}
.back p {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 4px;
    color: white;
}
.back span {
    color: #4B9CD3;
}
.row {
    display: flex;
    align-items: center;
    margin-top: 25%;
}
.row a {
    color: white;
}
.col {
    flex: 1;
    text-align: center;
}
.col i:hover {
    color: gray;
}


/* languages cards */
.col2 {
    margin: 145px 5px 0px 140px;
    width: 200px;
    height: 260px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 10px;    
    float: left;
    position: relative;
}
.card {
    display: inline-block;
    width: 200px;
    height: 260px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 1s;
    font-size: 15px;
    color: white;
    text-align: left;
}
.card:hover {
    transform: translateY(-10%);
}
/* card text pop-up */
.card::before {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 90%;
    height: 39.5%;
    padding: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.53) 100%, rgba(0,0,0,0.24) 100%); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.53) 100%,rgba(0,0,0,0.24) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.53) 100%,rgba(0,0,0,0.24) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87000000', endColorstr='#3d000000',GradientType=0 );
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(170%);
    transition: all 500ms ease;
}
.card:hover::before {
    opacity: 1;
    transform: translateY(100%);
}
.col h5 {
    color: snow;
    text-shadow: 0 0 5px #555;
}

/* card 1 */
.card1 {
    background-image: url("images/htmlcss.jpeg");
}
.card1.caption::before {
    content: "I'm familiar most with HTML and CSS. I know the basics and can perform the majority of tasks asked.";
}
/* card 2 */
.card2 {
    background-image: url("images/js");
}
.card2.caption::before {
    content: "My only understanding of JS was learned through my web scripting course. I learned the basics like click, toggles, etc., but still pretty new to it. I'm currently using CodeAcademy to learn JSX and more about React/JavaScript.";
}
/* card 3 */
.card3 {
    background-image: url("images/python.png");
}
.card3.caption::before {
    content: "I took a Python course during my freshman year of college. I was taught using Netlabs which consisted of labs using path tracing/blocks.";
}
/* card 4 */
.card4 {
    background-image: url("images/php3.png");
}
.card4.caption::before {
    content: "My knowledge about this is slim but I'm hoping to learn more about it! I used PHP to input databases into mySQL.";
}


/* skills */
.skills {
    text-align: center;
}
#skill-title {
    font-size: 30px;
    text-align: center;
    color: rgb(207, 207, 245);
    margin: 85px 15px 50px 0px;
    letter-spacing: 13px;
}
#skill-title:after {
    content: "";
    height: 7px;
    width: 180px;
    background-color: ghostwhite;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-left: 43%;
}
.center {
    margin-left: 18.7%;
}
.skill {
    position: relative;
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62aac4;
    overflow: hidden;
    border-radius: 30px;
    float: left;
    margin: 25px;
}
/* the animation border */
.skill::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 140%;
    transform: rotate(138deg);
    background-color: #29628a;
}
.skill:hover::before {
    animation: animate 2s linear infinite;
}
/* the image over the animation */
.skill::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-size: cover;
    border-radius: 16px;
}
/* change box background image */
#skill1::after {
    background-size: 150px 150px;
    inset: 8px;
    background-repeat: no-repeat;
    background-image: url("images/ps.png");
}
#skill2::after {
    background-size: 150px 150px;
    inset: 8px;
    background-repeat: no-repeat;
    background-image: url("images/illustrator.png");
}
#skill3::after {
    background-size: 150px 150px;
    inset: 8px;
    background-repeat: no-repeat;
    background-image: url("images/indesign.png");
}
#skill4::after {
    background-size: 150px 150px;
    inset: 8px;
    background-repeat: no-repeat;
    background-image: url("images/office.jpeg");
}

@keyframes animate {
    0%{
        transform: rotate(138deg);
    }
    100% {
        transform: rotate(498deg);
    }
}



/* education and extracurricular */
#extra {
    margin-left: 16%;
    color: white;
    margin-bottom: 19%;
    margin-top: 2%;
}
#extracurricular {
    margin-top: 29.5%; 
}
i {
    margin-top: 7px;
    margin-bottom: 25px;
    color: lightgray;
    text-align: left;
}
#education {
    margin-left: 16%;
    margin-top: 17%;
    margin-right: 13%;
}
#education h1{
    padding-top: 60px;
    color: #4B9CD3;
    border-top: 2px dashed black;
}
.indent {
    margin-left: 50px;
}
#year {
    float: left;
    width: 27%;
}
#school {
    float: left;
    width: 31.5%;
}
li {
    padding-top: 6px;
    color: #f0f0f0;
}
#education h3, #extra h3 {
    color: aliceblue;
    padding-top: 7%;
}
#education h1, #extra h1 {
    color: #4B9CD3;
    padding-bottom: 30px;
}



/* volunteer */
.parallaxPic {
    background: url("images/mountain2.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.parallaxText {
    padding: 10% 0;
}

#volunteer h1 {
    text-align: center;
}
#volunteer {
    margin-top: 25%;
    background-image: url("NutrifitWorld/images/paper.jpeg");
    padding-bottom: 4%;
    position: relative;
}
#volunteer h2 {
    font-size: 32px;
    color: #017596;
    text-align: center;
    font-weight: 350;
    letter-spacing: 2px;
    margin: 40px 0 10px;
}
#volunteer p {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;    
    padding: 3% 10% 0% 10%;
}


/* project */
#project {
    color: white;
    padding-bottom: 48%;
    padding-top: 10%;
    position: relative;
    overflow-x: visible;
}
button {
    border: none;
}
/* next to nitrifit */
.square {
    width: 420px;
    height: 600px;
    margin-left: 6%;
    background-image: url("images/interface-3614766_1280.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
}
.square:hover {
    transform: translateX(10%)!important;
    transition: all 0.8s ease-in-out;
}
/* nutrifit */
.square2 {
    width: 270px;
    height: 270px;
    background-color: #79B7CE;
    background-image: url("NutrifitWorld/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    cursor: pointer;
    margin-left: 27%;
    margin-top: 17%;
}
.square2:hover {
    rotate: 360deg;
    scale: 1.2;
    transition: all 0.6s ease-in-out;
    box-shadow: 6px 8px #A99ABD;
}

/* text right side */
.square3 {
    width: 620px;
    height: 310px;
    background-color: #9ec2f0;
    margin-top: 40px;
    float: right;
    margin-left: 100px;
    position: relative;
    box-shadow: 6px 8px #EEECF4;  
}
.square3 h1 {
    color: black;
    text-shadow: 2px 2px #6f809a;
    padding-top: 30px;
    text-align: center;
    font-size: 28px;
}
.square3 p {
    color: #200;
    font-size: 14.8px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.square3 i, .square3 a {
    color: snow;
}
.triangle {
    width: 0;
    top: 0;
    margin-left: 79%;
    margin-top: 14.5%;
    border-top: 380px solid transparent;
    border-right: 300px solid #aad1d1;
    border-bottom: 250px solid transparent;
    position: absolute;
}
.triangle:hover {
    opacity: 0.8!important;
    transition: 0.3s ease-in-out;
}

/* reveal */
.reveal {
    opacity: 1;
    transition: all 2s ease;
    transform: translateX(0%);
}
/*
.reveal.active {
    opacity: 1;
    transform: translateX(0%);
}
*/



/* media viewport */
/* lowest desktop minimization */
@media only screen and (max-width: 600px) {
    /* intro */
    .intro2 {position: relative;} .intro2 h1 {font-size: 37px;color: white;} .intro2 p {font-size: 16px;color: #f0f0f0;font-weight: 600;margin-bottom: 100px;} .intro2 img {position: absolute; margin: auto; bottom: 2.5%;} #bottom {display: none;}

    /* cards */
    #profile {
        width: 330px;
        height: 515px;
        margin: 120px 5px 0px 120px;
        float: left;
    }
    .col2 {
        margin: 120px 5px 0px 50px;
    }
    
    /* skill */
    #skill-title {
        font-size: 30px;
        text-align: center;
        color: rgb(207, 207, 245);
        margin: 140% 80px 50px 35px;
        letter-spacing: 15px;
    }
    #skill-title:after {
        content: "";
        height: 7px;
        width: 190px;
        background-color: ghostwhite;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-right: 26.5%;
    }

    /* education & extracurricular */
    #extra {padding-top: 110%;} .indent {margin-left: 0px;} #year {width: 100%;} #school {width: 100%;} #extra h3, i, li, #education h3 {margin-left: 30px;} #extra, #education {padding-bottom: 100%;} #education {padding-bottom: 100%;} #extra h3, #education h3 {padding-top: 10%;}

    /* volunteer */
    .parallaxText img {
        width: 500px;
        height: 120px;
    }
    #volunteer h2 {
        margin-right: 5%;
        margin-left: 5%;
    }

    /* projects */
    .square{width:420px;height:600px;margin-left:2.5%;margin-top:5%;}.square:hover{transform:translateX(10%)!important;transition:.8s ease-in-out;}.square2{width:270px;height:270px;margin-left:24%;margin-top:75%;}.square3{width:525px;height:310px;}.square3 p{font-size:14px;}.triangle{margin-top:36%;}
}

@media only screen and (max-width: 1180px) {
    #bottom {
        display: none;
    }
}
@media only screen and (max-width: 1350px) {
    #bottom {
        display: none;
    }
}

/* mobile viewport */
@media only screen and (max-width: 400px) { 
    /* header & nav bar */
    header h2{display:none;}.navlinks a,.navlinks li{font-family:Montserrat,sans-serif;font-weight:600;font-size:10px;color:#fff;text-decoration:none;}.navlinks li{display:inline-block;padding:0 5px;}

    /* intro */
    .intro2{position:relative;}.intro2 h1{font-size:36px;color:#fff;margin-right:8%;margin-left:8%;}.intro2 p{font-size:20px;color:#f0f0f0;font-weight:600;margin:5% 5% 100px 9%;}.intro2 img{position:absolute;margin:0;top:63%;}#bottom{display:none;}
  
    /* cards */
    #profile {
        width: 330px;
        height: 515px;
        margin: 80px 5px 0px 34px;
        float: left;
    }
    .col2 {
        margin: 100px 5px 0px 0px;
        width: 200px;
        height: 260px;
        grid-template-columns: 190px 155px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;    
    }
    .card {
        width: 170px;
        height: 230px;
        padding: 15px 25px;
    }

    /* skill */
    #skill-title {
        font-size: 30px;
        text-align: center;
        color: rgb(207, 207, 245);
        margin: 190% 80px 50px 10px;
        letter-spacing: 15px;
    }
    #skill-title:after {
        content: "";
        height: 7px;
        width: 190px;
        background-color: ghostwhite;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-right: 8%;
    }

    /* extracurricular & education */
    #education h1,#extracurricular{font-size:26px;}#extra{padding-top:150%;}#education h1{margin-top:100%;}#education h3,#extra h3,.indent,i,li{margin-left:0;}#school,#year{width:100%;}#education,#extra{padding-bottom:100%;}#education{padding-bottom:170%;}#education h3,#extra h3{padding-top:10%;}

    /* volunteer */
    .parallaxPic {
        background-image: none;
    }
    .parallaxText img {
        width: 300px;
        height: 70px;
    }
    #volunteer {
        padding-bottom: 10%;
    }

    /* project */
    .square{width:270px;height:400px;margin-top:135%;margin-left: 3%;}.square2{width:200px;height:200px;margin-left:35%;margin-top:145%;}.square3{width:375px;height:420px;}.square3 p{font-size:14px;}.triangle{margin-top:126%;}
}
